body, html{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

#logo h1{
  background: none;
  color: #07477e;
  font-family: 'Libre Baskerville', serif;
  width: 320px;
  font-size: 40px;
  line-height: 45px;
  margin-top: -45px;
}

#nav ul li.current a{
  background: #08477d;
}

#banner{
  h2{
    font-size: 50px;
  }
  p{
    font-size: 26px;
  }
  .call-to-action{
    margin-top: 80px;
  }
}
.box.feature .image img{
  max-height: 300px;
}
.thumbnails .image img{
  height: 100px;
}

.box.feature{
  height: 650px;
}
.faq-page{
  ul{
    li{
      list-style-type: disc;
    }
  }
}
