doctype html
html
  head
    title
      = current_page.data.title || "les Maisonnettes sur le Cap"
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta http-equiv="x-ua-compatible" content="ie=edge"
    /![if lte IE 8] <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway" rel="stylesheet"
    link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /
    link href="/stylesheets/theme/main.css" rel="stylesheet" /
    link href="/stylesheets/site.css" rel="stylesheet" /
    /![if lte IE 8] <link rel="stylesheet" href="/stylesheets/theme/ie8.css" />

  body
    #page-wrapper
      /! Header
      #header-wrapper
        header#header.container
          /! Logo
          #logo
            h1
              a href="/" title="les Maisonnettes sur le Cap"
                | Les Maisonnettes sur le Cap
          = partial "menu"
      = yield

    = partial "footer"
    = partial "ga"
