script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-109558540-1"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109558540-1');
