/! Nav
nav#nav
  ul
    li class=("current" if current_page.data.slug == "home")
      a href="/"
        = t("menu.home")
    li class=("current" if current_page.data.slug == "maisonnettes")
      a href=("#{t("menu.lang-slug")}/maisonnettes")
        = t("menu.maisonnettes")
    li class=("current" if current_page.data.slug == "activities")
      a href=("#{t("menu.lang-slug")}/activities")
        = t("menu.activities")
    li class=("current" if current_page.data.slug == "prix")
      a href=("#{t("menu.lang-slug")}/prix")
        = t("menu.prix")
    li class=("current" if current_page.data.slug == "reservations")
      a href=("#{t("menu.lang-slug")}/reservations")
        = t("menu.reservation")
    li
      a href=(t("menu.lang_switch"))
        = t("menu.lang")
