---
slug: "activities"
---

#main-wrapper
  .container
    .row class="200%" 
      .8u class="12u$(medium)" 
        #content
          /! Content
          article
            h2 = t("menu.activities")
            p = t("activities.intro")
    hr
    .row
      .3u
        .image.fit
          img alt="" src="/images/ski2.jpg"
        br
        .image.fit
          img alt="" src="/images/dogsled.jpg"
        br
        .image.fit
          img alt="" src="/images/snowshoe.jpg"
      .5u
         h3 = t("activities.hiver.title")
         ul
           li
             h4= t("activities.hiver.item1.title")
             p= t("activities.hiver.item1.text")
           li
             h4= t("activities.hiver.item2.title")
             p= t("activities.hiver.item2.text")
           li
             h4= t("activities.hiver.item3.title")
             p= t("activities.hiver.item3.text")

    .row
      .5u
         h3 = t("activities.ete.title")
         ul
           li
             h4= t("activities.ete.item1.title")
             p= t("activities.ete.item1.text")
           li
             h4= t("activities.ete.item2.title")
             p= t("activities.ete.item2.text")
           li
             h4= t("activities.ete.item3.title")
             p= t("activities.ete.item3.text")
           li
             h4= t("activities.ete.item4.title")
             p= t("activities.ete.item4.text")
      .4u
      .3u
        .image.fit
          img alt="" src="/images/bike.jpg"
        br
        .image.fit
          img alt="" src="/images/kayak.jpg"
        br
        .image.fit
          img alt="" src="/images/hiking.jpg"



    .row
      .5u
         .image.fit
           img alt="" src="/images/ski-lg.jpg"
      .2u
      .5u
        h3 = t("activities.ski.title")
        p = t("activities.ski.alpin")
        p = t("activities.ski.fond")
        h3 = t("activities.ski.forfait.title")
        br
        h4 = t("activities.ski.forfait.title2")
        p= t("activities.ski.forfait.description")
