---
slug: "faq"
lang: "en"
---

#main-wrapper
  .container
    .row class="200%" 
      .12u class="12u$(medium)" 
        #content.faq-page
          /! Content
          article
            h2 
              | FAQ

            h2 
              | Lodging

            ul
              li 
                | Kitchens  all equipped with a conventionnal stove, micro-wave, standard fridge, dishes, glasses(regular and wine), coffee maker (with filters), toaster, pots and pans, fondue kit, dish liquid ...We have everything... You just need your food.
              li 
                | Ironing-board, hair dryer supplied
              li 
                | Water very good... you don't need to bring yours.
              li 
                | Beddings and towells very good quality supplied plus soap. shampoo and conditioner
              li 
                | Television,   yes, via satellite. However, there is much better to do or to see.
              li 
                | Radio CD,  we supply a combined radio CD plus an alarm clock radio.
              li 
                | DVD,  included in each unit
              li 
                | Telephone, internet available at the reception. (plus Wi-Fi connections)
              li 
                | The 5th person,  we add a comfortable portable bed. (max 5 persons /unit, 10 for twins)

            h2 
              | Activities on the site

            ul
              li 
                | Outdoor meals, BBQ and patio kit in front of your unit.
              li 
                | Nature trails in forest, good for hiking, snowshoeing, mountain biking, wildlife observation.
              li 
                | Firecamps,   on the clif overlooking the St-Lawrence river (during summer)
              li 
                | Sugar shack, to accommodate little groups for meals, friends parties, after ski with our swiss cheese fondue.
              li 
                | Swimming nearby , fantastic little beach on Sainte-Anne river at just two minutes drive from our site or under a fantastic fall at 5 minutes.

            h2 
              | Transportation
            ul
              li To mont Sainte-Anne, Quebec City or le Massif:  taxi service on request. A shuttle is available between Mont Sainte-Anne and Quebec City and Le Massif.

            h2 
              | Supplies and services
            ul
              li 
                | Wood available on the site (8$)
              li 
                | Gas station, foodstores, drugstores, hospital all located within 10 minutes from our site, even if we are located in a nature spot.
              li 
                | Restaurants, very good choice within 10 minutes, from fast food to fine cuisine.
              li 
                | Laundry, available on the site depending on availability

            h2
              | Pets
            ul
              li
                | Strickly forbidden. A dozen of different wild animals and over 40  bird species can be seen in the surrounding forest.
