---
slug: "faq"
---

#main-wrapper
  .container
    .row class="200%" 
      .12u class="12u$(medium)" 
        #content.faq-page
          /! Content
          article
            h2 
              | FAQ
            h2 
              | Hébergement

            ul
              li 
                | Les cuisines sont équipées d'une cuisinière conventionnelle, d'un four micro-onde, d'un frigo standard, de vaisselle, verrerie, cafetière (avec filtres), grille-pain, petits et gros ustensiles , batterie de cuisine, tire-bouchons, napperons et essuie-tout, savon à vaisselle ensemble à fondue... et le tout d'une qualité remarquable. Vous n'avez qu'à apporter votre nourriture et votre appétit.
              li 
                | Fer à repasser, planche, séchoir à cheveux compris
              li 
                | Literie complète et d'excellente qualité.. Inclue savon, shampoing et conditionneur.
              li 
                | Eau d'excellente qualité (eau de source contrôlée par la municipalité)
              li 
                | La télévision,  oui, via satellite,... mais il y a tellement mieux à faire et à regarder.
              li 
                | Radio et lecteur CD, nous offrons un combiné radio et lecteur CD plus une radio-réveil.
              li 
                | Lecteur DVD  dans chaque unité
              li 
                | Le téléphone, internet disponibles à la réception (plus connection Wi-Fi)
              li 
                | Une 5e personne. Nous additionnons un confortable lit d'appoint. (max 5 personnes par unité- 10 pour les jumelés)

            h2 
              | Activités sur le site
            ul 
              li 
                | Repas à l'extérieur, BBQ au gaz propane et ensembles patio disponibles l'été.
              li 
                | Sentier nature en forêt,   propice à la marche, raquette, vélo de montagne, observation de la flore et de la faune.
              li 
                | Feux de camp l'été, sur le Cap surplombant le Saint-Laurent.
              li 
                | Cabane à sucre, pour les repas en petits groupes, les fêtes entre amis ou les après-ski avec fondue au fromage.
              li 
                | La baignade (à proximité) , magnifique petite plage sur la rivière Sainte-Anne à 2 minutes de notre site ou dans une cascade grandiose à 5 minutes.
            h2 
              | Transports
            ul
              li 
                | Vers le mont Sainte-Anne, Québec ou le Massif,   service de taxis sur demande.
            h2
              | Approvisionnement et Services
            ul
              li
                | Postes d'essences, dépanneurs, alimentation, pharmacie, hôpital      tous situés à 10 minutes et moins de notre site... malgré le fait que nous soyons en pleine nature.
              li 
                | Buanderie,  sur le site selon disponibilité.
              li  
                | Restaurants, très bon choix à  proximité, de la restauration rapide à la gastronomie.
              li
                | Bois, Disponible sur place incluant le bois d'allumage et le papier journal (8$)

            h2  
              | Animaux domestiques
            ul
              li
                | Strictement interdits. Une bonne douzaine de mammifères et une quarantaine d'espèces d'oiseaux peuvent être observés dans la forêt environnante.
