#footer-wrapper
  footer#footer.container
    .row
      .3u class=("6u(medium) 12u$(small)") 
        /! Links
        section.widget.links
          h3 Menu
          ul.style2
            li
              a href="/"
                = t("menu.home")
            li
              a href=("#{t("menu.lang-slug")}/maisonnettes")
                = t("menu.maisonnettes")
            li
              a href=("#{t("menu.lang-slug")}/activities")
                = t("menu.activities")
            li
              a href=("#{t("menu.lang-slug")}/prix")
                = t("menu.prix")
            li
              a href=("#{t("menu.lang-slug")}/reservations")
                = t("menu.reservation")
            li
              a href=(t("menu.lang_switch"))
                = t("menu.lang")
      .3u class=("6u$(medium) 12u$(small)") 
        /! Links
        section.widget.links
          h3 Informations
          ul.style2
            li
              a href="https://www.google.ca/maps/place/Houses+on+the+Cape/@47.0618528,-70.8658558,17z" target="_blank"  Direction
            li
              a href=("#{t("menu.lang-slug")}/faq") FAQ
      .3u class=("6u(medium) 12u$(small)") 
        /! Links
        section.widget.links
          h3 Liens Utiles
          ul.style2
            li
              a href="https://mont-sainte-anne.com" target="_blank"  Mont St-Anne
            li
              a href="http://www.canyonsa.qc.ca/" target="_blank" Canyon St-Anne
            li
              a href="https://www.lemassif.com" target="_blank" Massif de Charlevoix
      .3u class=("6u$(medium) 12u$(small)") 
        /! Contact
        section.contact.last
          h3 = t("footer.contact_us")
          ul
            li
              b
                | Email:
              br
              a title="maisonnette@xplornet.com" href="mailto:maisonnette@xplornet.com"
                | maisonnette@xplornet.com
          p
            address
              b 
                | Les Maisonnettes sur le Cap 
              br
              | 201 RTE-138
              br/
              | Saint-Joachim, QC G0A 3X0
              br/
              | (418) 827-6777
    .row
      .12u
        #copyright
          ul.menu
            li &copy; Les maisonnettes sur le cap. All rights reserved
