---
slug: "home"
---
/! Banner
#banner-wrapper
  #banner.box.container
    .row
      .8u class="12u(medium)" 
        h2
          = t("home.banner.title")
        p
          = t("home.banner.text")
      .4u class="12u(medium)" 
        a.button.big.icon.fa-arrow-circle-right.call-to-action href=("#{t('menu.lang-slug')}/reservations")
          = t("menu.reservation")
/! Features
#features-wrapper
  .container
    .row
      .4u class="12u(medium)"
        /! Box
        section.box.feature
          a.image.featured href="#"
            img alt="" src="/images/vue-sur-le-fleuve.jpg"
          .inner
            header
              h2 = t("home.environment.title")
            p =  t("home.environment.text")
      .4u class="12u(medium)"
        /! Box
        section.box.feature
          a.image.featured href="#"
            img alt="" src="/images/envol.jpg"
          .inner
            header
              h2 = t("home.maisonnettes.title")
            p =  t("home.maisonnettes.text")
      .4u class="12u(medium)"
        /! Box
        section.box.feature
          a.image.featured href="#"
            img alt="" src="/images/ski.jpg"
          .inner
            header
              h2 = t("home.activities.title")
            p =  t("home.activities.text")
/! Main
#main-wrapper
  .container
    .row class="200%"
      .4u class="12u(medium)"
        /! Sidebar
        #sidebar
          section.widget.thumbnails
            .grid
              .row class="50%"
                .6u
                  .image.fit href="#"
                    img alt="" src="/images/view-from-cabin.jpg"
                .6u
                  .image.fit href="#"
                    img alt="" src="/images/envol-sm.jpg"
                .6u
                  .image.fit href="#"
                    img alt="" src="/images/residence-de-tourisme-chalet-copropriete-studio-les-maisonnettes-sur-le-cap.jpg"
                .6u
                  .image.fit href="#"
                    img alt="" src="/images/maisonnette-hiver.jpg"
                .6u
                  .image.fit href="#"
                    img alt="" src="/images/chalet-region-quebec.jpg"
                .6u
                  .image.fit href="#"
                    img alt="" src="/images/frivole.jpg"
      .8u class=("12u(medium) important(medium)")
        /! Content
        #content
          section.last
            h2 = t("home.about.title")
            p = t("home.about.text")