---
slug: "maisonnettes"
---

#main-wrapper
  .container
    .row class="200%" 
      .8u class="12u$(medium)" 
        #content
          /! Content
          article
            h2 Maisonnettes
            p = t("maisonnettes.p1")
            .row
              .12u
                .image.fit
                  img alt="" src="/images/maisonnettes/maison-ext.jpg"
            p = t("maisonnettes.p2")
            .row
              .12u
                .image.fit
                  img alt="" src="/images/maisonnettes/frivole-ext.jpg"

            p = t("maisonnettes.p3")
            .row
              .12u
                .image.fit
                  img alt="" src="/images/maisonnettes/kitchen.jpg"
            p = t("maisonnettes.p4")
      .4u class="12u$(medium)"
        #sidebar
          /! Sidebar
          section
            p = t("maisonnettes.s1")
            p
              .image.fit
                img alt="" src="/images/maisonnettes/site.jpg"
            p
              .image.fit
                img alt="" src="/images/maisonnettes/view-from-cabin.jpg"
            p
              .image.fit
                img alt="" src="/images/maisonnettes/view.jpg"
            p
              .image.fit
                img alt="" src="/images/maisonnettes/snow.jpg"
          section
            footer
              a.button.icon.fa-info-circle href=("#{t("menu.lang-slug")}/reservations")  Reservation
    .row
      h3 = t("maisonnettes.images.title-1")
    .row
      .4u
        .image.fit
          img alt="" src="/images/maisonnettes/frivole-1.jpg"
      .4u
        .image.fit
          img alt="" src="/images/maisonnettes/frivole-2.jpg"
      .4u
        .image.fit
          img alt="" src="/images/maisonnettes/frivole-3.jpg"
    .row
      h3 = t("maisonnettes.images.title-2")
    .row
      .4u
        .image.fit
          img alt="" src="/images/maisonnettes/maison-1.jpg"
      .4u
        .image.fit
          img alt="" src="/images/maisonnettes/maison-2.jpg"
      .4u
        .image.fit
          img alt="" src="/images/maisonnettes/maison-3.jpg"
