---
slug: "prix"
---

#main-wrapper
  .container
    .row class="200%" 
      .8u class="12u$(medium)" 
        #content
          /! Content
          article
            h2 = t("prix.title")
    .row
      .12u
        .table-responsive
          table.table.table-bordered
            tbody
              tr
                td width="194" 
                  p align="center" 
                    b SEASON
                td width="250" 
                  p align="center" 
                    b PERIOD
                td width="217" 
                  p align="center" 
                    b COST
                    b style=("mso-bidi-font-weight: normal")  DAY
                  p align="center" 
                    b DOUBLE OCCUPANCY
                td width="141" 
                  p align="center" 
                    b style=("mso-bidi-font-weight: normal") 
                      o:p
                        | EXTRA PER
                  p align="center" 
                    b ADULT
                td
                  p align="center" 
                    b EXTRA PER
                  p align="center" 
                    b CHILD
              tr
                td width="194" 
                  p align="center"  &nbsp;
                td width="250" 
                  p align="center"  &nbsp;
                td width="217" 
                  p align="center" 
                    b
                      | 1-3J&nbsp;&nbsp; 4-6J&nbsp;&nbsp; 7J+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                td
                  p
                    b PER DAY
                td
                  p
                    b PER DAY
              tr
                td
                  b WINTER-SUMMER
                td
                  b Dec
                  b style=("mso-bidi-font-weight: normal") 
                    | 15April 14
                    | + Jun15-Oct14
                td align="center"
                  b
                    | 145$
                    | &nbsp;
                    | 130$
                    | &nbsp;
                    | 120$
                td
                  b 30$
                td
                  b 20$
              tr.active
                td height="24" width="194" 
                  b
                    font  SPECIAL
                td align="center" height="24" width="250" 
                  font color="#FF0000" 
                    b Occasional Sun to Thur
                td align="center" height="24" width="217" 
                  p 
                    font
                      b
                        | 130$&nbsp;&nbsp; 120$&nbsp;
                        | 110$
                td align="center" height="24" width="141" 
                  font color="#FF0000" 
                    b
                      | 30$
                td align="center" height="24" 
                  font color="#FF0000" 
                    b 20$
              tr
                td width="194" 
                  b SPRING-FALL
                td align="center" width="250" 
                  b Apr15June14+Oct15Déc14
                td align="center" width="217" 
                  b &nbsp;&nbsp; 130$&nbsp;&nbsp;&nbsp;120&nbsp;&nbsp;&nbsp; 110$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                td align="center" width="141" 
                  b 30$
                td align="center" 
                  b 20$
              tr
                td width="194" 
                  b SPA - MASSAGE
                td align="center" width="250" 
                  b At all time
                td align="center" width="217" 
                  b Discount 15%
                td align="center" width="141" 
                  b Discount 15%
                td align="center" 
                  b Discount 15%
              tr
                td width="194" 
                  b SKI SNOW
                td align="center" width="250" 
                  b December to March
                td align="center" width="217" 
                  b Discount 10%
                td align="center" width="141" 
                  b Discount 10%
                td align="center" 
                  b Discount 10%
              tr
                td width="194" 
                  b CANYON STE-ANNE
                td align="center" width="250" 
                  b April to October
                td align="center" width="217" 
                  b Discount 15%&nbsp;
                td align="center" width="141" 
                  b Discount 15%&nbsp;
                td align="center" 
                  b Discount 15%&nbsp;
