---
slug: "prix"
---

#main-wrapper
  .container
    .row class="200%" 
      .8u class="12u$(medium)" 
        #content
          /! Content
          article
            h2 = t("prix.title")
    .row
      .12u
        .table-responsive
          table.table.table-bordered
            tbody
              tr
                td width="194" 
                  p align="center" 
                    b SAISON
                td width="244" 
                  p align="center" 
                    b PÉRIODE
                td width="210" 
                  p align="center" 
                    b style=("mso-bidi-font-weight: normal")  TARIF/JOUR
                  p align="center" 
                    b OCCUPATION DOUBLE
                td width="171" 
                  p align="center" 
                    b style=("mso-bidi-font-weight: normal") 
                      o:p
                        | \&nbsp;ADULTE
                  p align="center" 
                    b EXTRA
                td
                  p align="center" 
                    b ENFANT
                  p align="center" 
                    b EXTRA
              tr
                td width="194" 
                  p align="center"  &nbsp;
                td width="244" 
                  p align="center"  &nbsp;
                td width="210" 
                  p align="center" 
                    b
                      | 1-3J&nbsp;&nbsp; 4-6J&nbsp;&nbsp; 7J+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                td width="171" 
                  p align="center" 
                    b PAR JOUR
                td
                  p align="center" 
                    b PAR JOUR
              tr
                td width="194" 
                  b style=("mso-bidi-font-weight: normal")  HIVER - ÉTÉ
                td align="center" width="244" 
                  b style=("mso-bidi-font-weight: normal") 
                    | 15déc14avr + 15jun14oct
                td width="210" 
                  p align="left" 
                    b &nbsp;&nbsp;&nbsp;&nbsp;145$&nbsp;&nbsp;135$&nbsp; 125$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                td align="center" width="171" 
                  b 30$
                td align="center" 
                  b 20$
              tr.active
                td height="24" width="194" 
                  b
                    font  SPECIAL
                td align="center" height="24" width="244" 
                  font color="#FF0000" 
                    b
                      | Occasionnel Dim au Jeu
                td height="24" width="210" 
                  p align="left" 
                    font color="#FF0000" 
                      b
                        | &nbsp; 130$&nbsp; 120$&nbsp;
                        | 110$
                td align="center" height="24" width="171" 
                  font color="#FF0000" 
                    b
                      | 30$
                td align="center" height="24" 
                  font color="#FF0000" 
                    b 20$
              tr
                td width="194" 
                  b PRINT-AUTOMNE
                td align="center" width="244" 
                  b 15avr14juin + 15oct14déc
                td width="210" 
                  p align="left" 
                    b &nbsp;&nbsp;&nbsp;&nbsp;130$&nbsp; 120$&nbsp; 110$&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                td align="center" width="171" 
                  b 30$
                td align="center" 
                  b 20$
              tr
                td width="194" 
                  b SPA ET MASSAGE &nbsp;
                td align="center" width="244" 
                  b En tout temps
                td align="center" width="210" 
                  b Réduction 15%
                td align="center" width="171" 
                  b Réduction 15%
                td align="center" 
                  b Réduction 15%
              tr
                td width="194" 
                  b SKI SNOW
                td align="center" width="244" 
                  b De décembre à mars
                td align="center" width="210" 
                  b Réduction 10%
                td align="center" width="171" 
                  b Réduction 10%
                td align="center" 
                  b Réduction 10%
              tr
                td width="194" 
                  b CANYON STE-ANNE
                td align="center" width="244" 
                  b De avril à octobre
                td align="center" width="210" 
                  b Réduction 15%&nbsp;
                td align="center" width="171" 
                  b Réduction 15%&nbsp;
                td align="center" 
                  b Réduction 15%&nbsp;
