---
slug: "reservations"
---

#main-wrapper
  .container
    .row class="200%" 
      .8u class="12u$(medium)" 
        #content
          /! Content
          article
            h2
              | Réservations
            p
              | Vous pouvez réserver en confirmant vos coordonnées par e-mail ou par téléphone. Pour des raisons de sécurité, les numéro de cartes de crédit devraient nous êtres acheminées par téléphone seulement.
            h2
              | Dépôts
            p
              | 50% de la facture totale lors de la réservation ( par chèque ou carte Visa ou Master).
            h2 
              | Annulation
            p
              | Nous conservons dans tous les cas 10% de la facture totale à titre de frais administratif minimal.
              | Si l'avis d'annulation survient à moins de 30 jours de l'arrivée: nous conservons le dépôt si nous ne sommes pas en mesure de remplacer votre réservation par une autre. Pour la période des Fêtes l'avis d'annulation doit être d'au moins 60 jours.

            h4
              | Au plaisir de vous accueillir... Danielle et Alain
            h4
              | Il y a des moments qui passent et d'autres que l'on n'oublie pas...

          address
            b 
              | Les Maisonnettes sur le Cap 
            br
            | 201, Boulevard 138 
            br
            | Saint-Joachim (de Montmorency) Québec, Canada
            br
            | G0A 3X0
            br
            | Tél: 
            a href="tel:+1-418-827-6777"
              | (418) 827-6777
            br
            | Email:
            a href="mailto:maisonnette@xplornet.com"
              |  maisonnette@xplornet.com
            

    .row
      .12u
