---
slug: "reservations"
lang: "en"
---

#main-wrapper
  .container
    .row class="200%" 
      .8u class="12u$(medium)" 
        #content
          /! Content
          article
            h2
              | Reservations
            p
              | You can book your stay by confirming your full address and phone number by e-mail or phone . For security reasons, credit card number must be transfered by phone only.
            h2
              | Deposit
            p
              | 50% of total invoice when you book ( by cheque or Visa or Master cards).
            h2 
              | Cancellation
            p
              | 50% of total invoice when you book ( by cheque or Visa or Master cards).
              | If a cancellation advice comes in the 30 days before arrival we keep the deposit if we are not able to replace your reservation by another. For Christmas and New Year period the cancellation advice must come before 60 days

            h4
              | It will be a pleasure to meet you ... Danielle and Alain
            h4
              | Some moments will go and some will stay forever...

          address
            b 
              | Les Maisonnettes sur le Cap 
            br
            | 201, Boulevard 138 
            br
            | Saint-Joachim (de Montmorency) Québec, Canada
            br
            | G0A 3X0
            br
            b
              | Tél: 
            a href="tel:+1-418-827-6777"
              | (418) 827-6777
            br
            b
              | Email:
            a href="mailto:maisonnette@xplornet.com"
              | maisonnette@xplornet.com
            

    .row
      .12u
